# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environment
venv/
ENV/
.env
.venv/

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal

# Media & Static (optional)
media/
staticfiles/

# VS Code settings
.vscode/

# Mac / Windows junk
.DS_Store
Thumbs.db

# PyCharm settings
.idea/
